<!DOCTYPE html>
<html>

<head>
	{% block head%}
	<meta charset="utf-8">
	<title>To-Do</title>
	<link rel = "stylesheet" href="{{ url_for('static',filename='css/master.css')}}">
	{% endblock %}
</head>
<body>

<header>
    <div class="container">
      <a  href="{{url_for('main.index')}}"><img src="{{url_for('static',filename='image/logo.png')}}" class='logo'></a>
      <nav>
        <ul>
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.add')}}">Add</a></li>
          <li><a href="{{url_for('main.list_all')}}">List</a></li>
          <li>@{{current_user.username}}</li>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <li><a href="{{url_for('auth.login')}}">Login</a></li>
          <li><a href="{{url_for('auth.signup')}}">Sign Up</a></li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>