{% extends "base.html" %}{% block head %}{{ super() }}
<link rel = "stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
{% endblock %}{% block content %}
{% if error%}
<center><p style="color : red">{{error}}</p></center>
{% endif %}
{% if work %}
<div class="add_container">
	<form action="/list/{{work.word_id}}/edit" method="POST">
		<p><label for='title'>Title : </label>
		<input type="text" name="title" value={{work.title}} required></p>
		<p><label for="start_date">Start : </label>
	  	<input type="datetime-local" id="start_date" name="start_date" value={{work.start_datetime.strftime('%Y-%m-%dT%H:%M')}} required></p>
	  	<p><label for="end_date">End : </label>
  		<input type="datetime-local" id="end_date" name="end_date" value={{work.end_datetime.strftime('%Y-%m-%dT%H:%M')}} required></p>
  		<p><label for="description">Description : </label></p>
  		<p><textarea name='description' required>{{work.discription}}</textarea></p>
		<p><input type="submit" value ="Edit"><input type="reset" value="Clear"></p>
	</form>
</div>
{% else %}
<center><h1 style="color:white;">Not, Found </1></h1></center>
{% endif %}
{% endblock %}